@import "tailwindcss";

.bg-logo {
  background-image: url("/src/assets/logo.png");
  background-size: cover;
  background-position: center;
}

.my-pic {
  background-image: url("/src/assets/my-pic.jpg");
  background-size: cover;
  background-position: center;
}

body {
  height: 5000px;
}
